# ОС
.DS_Store
Thumbs.db

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Oo]bj/
UserSettings/

# Кэш пакетов и авто-генерируемые
[Bb]uildReport/
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
[Aa]ssets/StreamingAssets/aa.meta

# Rider / VS / VSCode
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Автогенерируемые GUID и кэши
*.pdb
*.mdb
*.opendb
*.VC.db

# Android / iOS
*.apk
*.aab
*.unitypackage
*.xcworkspace/
*.xcuserstate

# Дополнительно для Unity 6000
[Bb]ee/
Artifacts/

# Logs
*.log
